# ============================================
# Netbeans:
/nbproject/

# ============================================
# PyCharm:
/.idea/

# ============================================
# Python:
*.pyc
__pycache__

build/
dist/
*.egg-info/

# ============================================
# Other:
PYPI_README.rst